body { font-family: sans-serif; margin: 0; }
#toolbar { margin-bottom: 8px; }
.toolbar-group {
  display: inline-block;
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid #ccc;
}
.toolbar-group:last-child {
  border-right: none;
}
#canvas { border: 1px solid #ccc; }
.selected { outline: 1px dashed red; }
.resize-handle { fill: #ffffff; stroke: #000000; cursor: se-resize; }
.vertex-handle { fill: #ffffff; stroke: #000000; cursor: move; }
.selection-rect {
  fill: rgba(0, 0, 255, 0.1);
  stroke: #0000ff;
  stroke-dasharray: 4;
  pointer-events: none;
}
#startTime,
#endTime,
#strokeWidth,
#displayStart,
#displayEnd {
  width: 6ch;
}

.custom-button {
  display: inline-block;
  padding: 4px 4px;
  background: #c9cacb;
  color: #000000;
  border: 1px solid #000000;   /* ← 縁取り（ボーダー） */
  cursor: pointer;
  border-radius: 1px;
  font-size: 14px;       /* 文字サイズを固定 */
  font-family: inherit;  /* 親と同じフォントを使用 */
  line-height: 1;        /* 行の高さを揃える */
}
.custom-button:hover {
  background: #aeafb0;
}
